* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #0f172a;
}

.app {
  min-height: 100vh;
  padding: 60px 20px;
}

.task-container {
  width: 100%;
  max-width: 650px;
  margin: auto;
  background: white;
  padding: 35px;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

h1 {
  text-align: center;
  font-size: 36px;
  color: #0f172a;
}

.subtitle {
  text-align: center;
  color: #64748b;
  margin-top: 8px;
  margin-bottom: 30px;
}

.task-form {
  display: flex;
  gap: 10px;
}

.task-form input {
  flex: 1;
  padding: 13px;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
}

.task-form button {
  padding: 13px 18px;
  border: none;
  border-radius: 8px;
  background: #0f172a;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.task-list {
  margin-top: 25px;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f1f5f9;
  padding: 14px;
  margin-bottom: 12px;
  border-radius: 10px;
}

.task-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.task-left input {
  width: 18px;
  height: 18px;
}

.task-left span {
  font-size: 16px;
  color: #1e293b;
}

.completed {
  text-decoration: line-through;
  color: #94a3b8 !important;
}

.delete-btn {
  border: none;
  background: #ef4444;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.empty {
  text-align: center;
  color: #64748b;
  margin-top: 25px;
}